<h3>Example Form</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-4 mb-3" app-append-error-message>
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName">
    </div>
    <div class="col-md-4 mb-3" app-append-error-message>
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName">
    </div>
  </div>
  <div formArrayName="phoneNumbers" class="form-row">
    <div class="col-md-8 mb-3">
      <label for="phones">Phone numbers</label>
      <div id="phones">
        <div *ngFor="let control of getPhoneNumbersFormArray().controls;index as i;last as last"
             app-append-error-message>
          <div class="d-flex">
            <input title="phones" class="form-control" [formControlName]="i">
            <button *ngIf="!last" (click)="removePhoneAt(i)" class="btn btn-secondary plus-minus-button">-</button>
            <button *ngIf="last" (click)="addPhone()" class="btn btn-secondary plus-minus-button">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 mb-3" app-append-error-message>
      <label for="backgroundImage">Choose your background image</label>
      <app-image-selector id="backgroundImage" formControlName="backgroundImage"></app-image-selector>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
  <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset form</button>
  <button class="btn btn-secondary" type="button"
          (click)="toggleDisableForm()">{{form.disabled ? 'Enable' : 'Disable'}}</button>
</form>

<div *ngIf="formData" class="alert alert-success form-output" role="alert">
  <div>The form input is valid</div>
  <div>{{formData | json}}</div>
</div>
