<h3>Exercise 4</h3>

<h4>What will you learn?</h4>
<ul>
  <li>How to write your own validator</li>
</ul>

<h4>How to?</h4>
<ol>
  <li>Extend the following form by a customer number input field</li>
  <li>Ensure that the customer number starts with C100 and contains exactly 10 characters</li>
  <li>Add an error message in the form helper service</li>
</ol>

<!-- START HERE -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName"
             [ngClass]="fh.getValidInvalidClassName(form.get('firstName'))">
      <div *ngIf="fh.hasErrors(form.get('firstName'))" class="invalid-feedback">
        {{fh.getErrorMessage(form.get('firstName'))}}
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName"
             [ngClass]="fh.getValidInvalidClassName(form.get('lastName'))">
      <div *ngIf="fh.hasErrors(form.get('lastName'))" class="invalid-feedback">
        {{fh.getErrorMessage(form.get('lastName'))}}
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
  <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset form</button>
</form>

<!-- STOP HERE -->

<div *ngIf="formData" class="alert alert-success form-output" role="alert">
  <div>The form input is valid</div>
  <div>{{formData | json}}</div>
</div>

