<h3>Exercise 5</h3>

<h4>What will you learn?</h4>
<ul>
  <li>How to use FormArray</li>
</ul>

<h4>How to?</h4>
<ol>
  <li>Extend the following form by phone numbers field which can be dynamically added and removed by the user (but the
    last field cannot be removed!)
  </li>
  <li>Ensure that at least one phone number is given</li>
  <li>Ensure that no phone number has more than 15 digits</li>
</ol>
Note: Set the class 'form-control' on the div-element after the phone number label, such that 'invalid-feedback' will work for the whole list as well.
Note: Use 'btn btn-secondary plus-minus-button' as the class values for the + and - button

<!-- START HERE -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName"
             [ngClass]="fh.getValidInvalidClassName(form.get('firstName'))">
      <div *ngIf="fh.hasErrors(form.get('firstName'))" class="invalid-feedback">
        {{fh.getErrorMessage(form.get('firstName'))}}
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName"
             [ngClass]="fh.getValidInvalidClassName(form.get('lastName'))">
      <div *ngIf="fh.hasErrors(form.get('lastName'))" class="invalid-feedback">
        {{fh.getErrorMessage(form.get('lastName'))}}
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 mb-3">
      <label for="customerNumber">Customer number</label>
      <input type="text" class="form-control" id="customerNumber" formControlName="customerNumber"
             [ngClass]="fh.getValidInvalidClassName(form.get('customerNumber'))">
      <div *ngIf="fh.hasErrors(form.get('customerNumber'))" class="invalid-feedback">
        {{fh.getErrorMessage(form.get('customerNumber'))}}
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
  <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset form</button>
</form>

<!-- STOP HERE -->

<div *ngIf="formData" class="alert alert-success form-output" role="alert">
  <div>The form input is valid</div>
  <div>{{formData | json}}</div>
</div>
