Welcome to Angular Forms!

Angular provides two kind of forms:
<ul>
  <li>Template-driven Forms</li>
  <li>Reactive Forms</li>
</ul>

<h2>Template-driven Forms</h2>
Recommended for rather simple forms without any complex validation.
<div>
  <a href="https://angular.io/guide/forms" target="_blank">Link to Angular Documentation</a>
</div>
<h2>Reactive Forms</h2>
Useful for more complex forms, like:
<ul>
  <li>Validations going beyond simple validations like if a field is required or if there are at least / no more than X
    characters:
    <ul>
      <li>
        Validation dependent on multiple fields
      </li>
      <li>
        Regex Validation
      </li>
    </ul>
  </li>
  <li>Multiple validations errors shown on the UI (better code maintainability)</li>
  <li>If fields may have to be shown or hidden dynamically on the user input</li>
  <li>If questions are served through a service -> See Dynamic Forms</li>
</ul>
<div>
  <a href="https://angular.io/guide/reactive-forms" target="_blank">Link to Angular Documentation for Reactive Forms</a>
</div>
<div>
  <a href="https://angular.io/guide/dynamic-form" target="_blank">Link to Angular Documentation for Dynamic Forms
    (builds up on Reactive Forms)</a>
</div>

