<h2>Welcome to the Angular Forms Workshop</h2>

<h3>How it works</h3>
<p>This repository consists of several branches. One for each exercise as well as one for each solution. You are
  currently on the <b>EXERCISE-4</b> branch. In order to progress, please open the corresponding exercise branch and
  implement your code there. Afterwards, you can verify your solution against the corresponding solution branch.</p>

<h3>Course slides</h3>
<p>The course slides to this workshop are commited on the gh-pages branch and can be found here:</p>
<ul>
  <li><a href="https://mleimer.github.io/angular-forms/" target="_blank">Link to Course slides</a></li>
</ul>

<h3>Angular Documentation</h3>
<ul>
  <li><a href="https://angular.io/guide/forms" target="_blank">Link to Angular Documentation (Template-driven forms)</a>
  </li>
  <li><a href="https://angular.io/guide/reactive-forms" target="_blank">Link to Angular Documentation (Reactive
    forms)</a></li>
  <li><a href="https://angular.io/guide/dynamic-form" target="_blank">Link to Angular Documentation (Reactive, dynamic
    forms)</a></li>
</ul>
